body {
    padding-top: 56px;
    font-family:'Times New Roman', Times, serif;
    
}
.jumbotron {
    background-color: gray;
    padding-bottom: 30px;
    padding-top: 30px;
}
.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}
.btn-secondary {
    background-color: transparent;
    border-color: #c60063;
    color: #c60063;
}
#contact {
    background-color: blanchedalmond;
}


/* page contact */

.icon-amikom {
    border: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 20%;
    max-height: 30%;
}
.jumbotron2 {
    background-color: #97DEFF;
    padding-bottom: 30px;
    padding-top: 30px;
    background-size:200%;
    background-position: center;
}
.lead {
    background-color:#7149C6;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
    display: block;
}
.header-title {
    font-size: 35px;
    padding: 10px 10px;
    margin: 30px auto;
    color: darkblue;
    background-color: #FFDEB9;
    border-radius: 10px;
    display: inline-block;
    
}

.international {
    background-color:darkblue;
    border-radius: 10px;
    padding: none;
    margin: 5px 15px;
    display: block;
}
.logo {
    height: 30%;
    width: 20%;
    vertical-align: middle;
    max-width: 100%;
    border: 0;
    box-sizing:border-box;
}
.left {
    float: left;
    display: inline;
    margin: 25px 25px;
    background-color: #c60063;
}
  
.top {
display:flex;
justify-content:center;
align-items:center;
height: 100px;
background-color: #FFDEB9;
max-height: fit-content;
}
  
.img-footer {
margin: auto;
width: 25%; 
height: 100%;

}

/* Page Services */
.page-service {
    background-color: #C9EEFF;
    padding: 50px;
}

.title-service {
    font-family: 'Franklin Gothic Medium';
    font-size:75px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 45px;
}
.img-design {
    border-radius: 40px;
    padding: 15px 15px;
    margin: 15px;
    max-width: 400px;
    max-height: 600px;

}
.service-container {
    display: flex;
    justify-content: center;
}
.detail-info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 50px; 
    color: #AA77FF; 
    padding: 15px;
    margin: 25px;
}
.card-detail {
    border-radius: 40px;
    padding: 15px 15px;
    margin: 15px;
    background-color: #97DEFF;
    width: 1000px;
    height: 600px;
    
}
.list-detail {
    font-family: 'Franklin Gothic Medium';
    color:darkmagenta;
    font-size: 50px;
    margin: 10px 10;
    padding: 10px 10;
    list-style-type: none;
}
.container-client {
    background-color: #CBE4DE;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    height: 280px;
    padding: 20px;

}
.img-client {
    height: 110px; 
    width: 190px;
}